<header class='entete'>

<nav id="navigation"> 
 <a href='/vider'>Vider</a>
 <a href='/'>Accueil</a>
 <a href='/list'>Adresse</a>
 <a href='/peupler'>Peupler</a>


</nav> 
 <section>
 <i class="fa fa-cubes fa-5x"></i>
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>
 </header>