<section>

	<div >
		
		

		
        <h4 ><%=adresse[0].prenom%> <%=adresse[0].nom%></h4>
		</div>

		<ul >
			<li >Tél: <%=adresse[0].telephone%></li>
			<li >Email: <%=adresse[0].courriel%></li>
		</ul>
	
    
</section>